<div class="text-center">
    <h1 class="display-4">Soy Alonso Ugalde Aguilar</h1>

    <h2>Soy un desarrollador full stack en ASP .NET (Blazor, MVC, API REST, Entity Framework) y Python (Django). Desarrollador FrontEnd con ReactJS. Desarrollador Mobile con React Native. Estudiante entusiasta de ciencia de datos con Python, SQL, etc.</h2>

    <img class="img-thumbnail mt-2 rounded" src="~/images/Yo.jpg" alt="Foto de Alonso" />
</div>

<div class="mt-5 text-center">
    <img class="image" src="~/images/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="bg-primary justify-content-center row text-center text-white">
    <div class="col col-md-7 welcome">
        <h2>Te doy la bienvenida a mi portafolio</h2>
        <p>
            Entre mis logros a nivel profesional podría hablar acerca del diseño, desarrollo, implementación y publicación on-cloud del Sistema para la recopilación de información de la evaluación de los aprendizajes (SIRIMEP) para el Ministerio de Educación de Costa Rica, dónde, junto a un excelente grupo de trabajo de profesionales de la educación y evaluación y bajo el liderazgo y apoyo, a nivel logístico, de la señora Ana Gabriela Castro y técnico a mi cargo, logramos la implementación y despliegue de dicho sistema a nivel nacional, mismo que generará datos que servirán para la correcta toma de decisiones y acciones para el bien de la educación en Costa Rica, por primera vez en Costa Rica. Además del diseño y desarrollo actual de otras plataformas y herramientas para uso educativo en dicho ministerio (AprendizApp, etc). A partir de enero de 2022, me desempeño como Consultor Licenciado Experto en el Despacho del Ministro, Ministerio de Educación Pública. Asesoro, entre otras cosas, en temas de tecnología y sistemas de la información, aplicados a la educación.
        </p>
    </div>
</div>