@model IEnumerable<ProjectViewModel>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>Mis proyectos</h1>
    <p>Algunos de los proyectos en los que he trabajado.</p>
</div>

<partial name="_Projects" model="Model" />